*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */
:root{
    --header-bg:#FFFFFF;
    --header-btn:#0061FF;
    --drbx-black: #010001;
    --drbx-white: #FFFFFF;
    --drbx-bkgr-and-square6: #B5D0E6;
    --drbx-accent: #0160FF;
    --drbx-square1: #A3D39A;
    --drbx-square2-alternativeFont: #60092B;
    --drbx-square3: #0192CE;
    --drbx-square4: #FE1C1D;
    --drbx-big-square: #F5F4F4;
    --drbx-square5: #D4011F;
    --drbx-square7: #0D2580;
    --drbx-square8: #FED831;

}

.d-flex{
    display: flex;
  
    
}
.j-center{
    justify-content: center;
}
.between{
    justify-content: space-between;
}
body {
    font-family: 'Open Sans', sans-serif;
    
}
.align{
    align-items: center;
}
/* fine Utility */

/* Header */
header{
    max-width: 1240px;
}
nav{
    width: 100%;
    height: 80px;
    
    
}
.nav-left{
    width:50%;
    background-color: white;
    display: flex;
    align-items: center;
}
.nav-left>a,.nav-left>img,.nav-right>a{
    padding: 15px;
    text-decoration: none;
    color: black;
}


.nav-right{
    width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:end;
    margin-right: 15px;
}
.nav-right>button {
    background-color: #0061FF;
    padding: 10px;
    color: white;
    border: none;
}
/* Fine Header */

/* Inizio Main */

/* Prima sezione */
#site-main{
    background-color: var(--drbx-bkgr-and-square6);
    height: 525px;
    max-width: 1240px;
    width: 100%;
   
}
.jumbotron{
    width: 80%;
    background-color: var(--drbx-bkgr-and-square6);
    height: 450px;
    max-width: 1240px;
    margin:0 auto;
}
.jumbotron>h1{
    font-size: 4rem;
    padding-left:15px;
   
}

.col-left{
    width: calc(100% / 12 * 4);
    background-color: var(--drbx-bkgr-and-square6);
    height:350px;
    padding-left: 15px;
}

.col-right{
    width: calc(100% / 12 * 8);
    background-color: var(--drbx-bkgr-and-square6);
    height:350px;
}
.trial{
    background-color: var(--drbx-accent);
    color: white;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
}
.col-left p{
    margin-top:15px;
    margin-bottom: 15px;
}
.col-left i{
    margin-top:15px;
}
.col-right>img{
    width: 700px;
    height: 400px;
    margin-top:15px;
}
.white{
    height: 30px;
}
/* Fine Prima sezione */

/* Inizia Seconda sezione */
.subscription{
    background-color: var(--drbx-white);
    height: 1410px;
    max-width: 1240px;
    width: 100%;
}

.container2{
    width: 80%;
    height: 1250px;
    max-width: 1240px;
    padding-top: 120px;
    margin:auto;
}

.pad-left{
    padding-left:100px;
    padding-bottom:40px;
}
#monthly{
    padding-right: 25px;
    
}
.descript-sub>h2{
    padding-bottom: 25px;
}
.row{
    width: 100%;
    height: 100%;
    gap: 10px;
}

.col-3{
    width: calc(75%/3);
    height: 1110px;
    margin: auto;
    border: 1px solid lightgrey;
    
}
.utente{
    text-align: center;
    border-bottom: 1px solid black;
}
.pad-card{
    padding-left: 18px;
    padding-bottom: 35px;
}
.card>h3,.price{
    padding: 18px 0;
}

.pad-bot{
    padding-bottom: 15px;
}
.info-card>span{
    padding: 18px;
}
.card-button>button{
    background-color: var(--drbx-accent);
    color: white;
    padding:10px 20px;
    border: none;
    
}
.block {
    height: 2rem;
    width: 2rem;
    border-top: 1px solid var(--drbx-bkgr-and-square6);
    margin-left:30px;
}
.info-card>h4,i{
    padding-bottom: 20px;
}
.col-pad{
    padding-left:65px;
}
.title-bot{
    padding-bottom:30px;
}
#bnt-pad{
padding:10px 64px;
border: none;
}

.col-1{
    width: 70%;
    border: 1px solid var(--drbx-bkgr-and-square6);
    height: 265px;
    margin-left:215px;
    
}
.team{
    border-bottom:1px solid var(--drbx-bkgr-and-square6);
    text-align: center;
    vertical-align: 5px;
    height: 40px;
    
}
.team>span{
    vertical-align: -10px;
}
.col-1-card{
    padding-left:15px;
    padding-top:30px;
    position: relative;
}
#ent-pad{
    padding-bottom:20px;
}
#p-bot{
    padding-bottom:40px;
}
#btn-absolute{
    position:absolute;
    top:28px;
    right:15px;
    background-color: var(--drbx-accent);
    border: none;
    color: white;
    padding:10px 30px;

}
/* fine seconda sezione */

/* inizio terza sezione */
.container-3{
    width: 100%;
    height: 440px;
}
.row-section3{
width: 70%;
height: 440px;
margin-top: 120px;
margin-left:215px;
margin-right:150px;

}
.col-60{
    width:60%;
    height: 100%;
}
.col-40{
    width: 40%;
    height: 100%;
    padding:40px;
}
.col-60>img{
    width: 100%;
}

.pad-30{
    padding-bottom:30px;
}
#bnt-partner{
    padding:10px;
    background-color: white;
    border:1px solid black;
}
/* Fine terza sezione */

/* Inizio quarta sezione */
.container-4{
    width: 100%;
    height: 100%;
}
.row-section4{
    width: 70%;
    height: 440px;
    margin-left:215px;
    margin-right:150px;
    gap:25px;
    margin-bottom:30px;
}
#title-operation{
    width: 70%;
    margin-top: 120px;
    margin-left:215px;
    margin-right:150px;
    height: 50px;
}
.col-4 {
    width: calc(90% / 3);
    
    
}
.operation>img{
    width: 100%;
}
.operation>h3{
    padding-bottom:20px;
}
/* Fine quarta sezione */

/* Inizio quinta sezione */
.container-5{
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
}
.row-section5{
    width: 70%;
    height: 100%;
    margin-left:215px;
    margin-right:150px;
    margin-bottom:30px;
    margin-top:150px;
   
}

.one-col>h2{
   padding-bottom:40px;
}

/* Fine quinta sezione */

/* Inizio sesta sezione */

.container-6{
    width: 100%;
    height: 400px;
}
.row-section6{
    width: 100%;
    height: 400px;
   
 
}
.col-3-1-3{
    width: calc(100%/3);
    height: 100%;
    
    
}
.small-row{
   
    display: flex;
    flex-wrap: wrap;
    
}
.col-clienti{
    width:50%;
    aspect-ratio: 1/1;
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
    
}
.small-row img{
    width: 50%;
}
/* colori immagini */
#designit{
    background-color: var(--drbx-square1);
}
#arizona{
    background-color: var(--drbx-square2-alternativeFont);
}
#florida{
    background-color: var(--drbx-square3);
}
#topps{
    background-color: var(--drbx-square4);
}
#world-bicycle{
    background-color: var(--drbx-square5);
}
#hearst{
    background-color: var(--drbx-bkgr-and-square6);
}
#lonely{
    background-color: var(--drbx-square7);
}
#clear{
    background-color: var(--drbx-square8);
}
/* fine colori immagini */

.block2 {
    height: 2rem;
    width: 4.2rem;
    border-top: 1px solid #F0F0F1;
    margin-left:30px;
    padding-bottom: 30px;
}
.partner img{
    width: 50%;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.partner-text{
    padding-left:30px;
    padding-right: 30px;
    font-size: smaller;
    color: black;
}
#pad30{
    padding-bottom:30px;
}
/* fine sesta sezione */

/* inizio settima sezione */
.container-7{
    width: 100%;
    height: 180px;
    background-color:#B4D0E7;
}
.row-business{
    width: 100%;
    height: 100%;
    margin: auto;

}
.col-business{
    width: calc(100%/2);
}
.col-business>button{
    padding:10px 30px;
    background-color: var(--drbx-white);
    border: none;
}
/* fine settima sezione */

/* inizio ottava sezione */
.container-8{
    width: 50%;
    margin:auto;
    height: 500px;
}

.topic {
    width: 100%;
    
    
}
.answer {
    height: 0;
    display: none;
}
.container-8>h2{
    padding-bottom:35px;
    padding-top:100px;
}
.title>h4{
    min-width: 900px;
    border-top:1px solid black;
    
    padding:25px 0;
}
#arrow{
float: right;
}
#last-border{
    border-bottom:1px solid black;
}


.faq:hover p{
    display: block;
}
.faq:hover i{
    transform:rotate(180deg);
}
/* fine ottava sezione */

/* inizio footer */
footer{
    background-color: var(--drbx-black);
    padding: 3rem 0 2rem;
    color: var(--drbx-white);
}
.container-footer{
    width: 100%;
    
}

footer h3 {
    margin-bottom: 2rem;
}

footer a {
    color: var(--drbx-white);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer ul li {
    list-style: none;
    
}
footer span {
    font-size: 1rem;
}
.menu-footer{
    padding:2rem;
    min-width:250px;
}

.languages{
    padding-left:25px;
}