*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */
:root{
    --header-bg:#FFFFFF;
    --header-btn:#0061FF;
    --drbx-black: #010001;
    --drbx-white: #FFFFFF;
    --drbx-bkgr-and-square6: #B5D0E6;
    --drbx-accent: #0160FF;
    --drbx-square1: #A3D39A;
    --drbx-square2-alternativeFont: #60092B;
    --drbx-square3: #0192CE;
    --drbx-square4: #FE1C1D;
    --drbx-big-square: #F5F4F4;
    --drbx-square5: #D4011F;
    --drbx-square7: #0D2580;
    --drbx-square8: #FED831;

}

.d-flex{
    display: flex;
  
    
}
.j-center{
    justify-content: center;
}
.between{
    justify-content: space-between;
}
body {
    font-family: 'Open Sans', sans-serif;
    
}









/* fine Utility */

/* Header */
header{
    max-width: 1240px;
}
nav{
    width: 100%;
    height: 80px;
    
    
}
.nav-left{
    width:50%;
    background-color: white;
    display: flex;
    align-items: center;
}
.nav-left>a,.nav-left>img,.nav-right>a{
    padding: 15px;
    text-decoration: none;
    color: black;
}


.nav-right{
    width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:end;
    margin-right: 15px;
}
.nav-right>button {
    background-color: #0061FF;
    padding: 10px;
    color: white;
    border: none;
}
/* Fine Header */

/* Inizio Main */

/* Prima sezione */
#site-main{
    background-color: var(--drbx-bkgr-and-square6);
    height: 525px;
    max-width: 1240px;
    width: 100%;
   
}
.jumbotron{
    width: 80%;
    background-color: var(--drbx-bkgr-and-square6);
    height: 450px;
    max-width: 1240px;
    margin:0 auto;
}
.jumbotron>h1{
    font-size: 4rem;
    padding-left:15px;
   
}

.col-left{
    width: calc(100% / 12 * 4);
    background-color: var(--drbx-bkgr-and-square6);
    height:350px;
    padding-left: 15px;
}

.col-right{
    width: calc(100% / 12 * 8);
    background-color: var(--drbx-bkgr-and-square6);
    height:350px;
}
.trial{
    background-color: var(--drbx-accent);
    color: white;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
}
.col-left p{
    margin-top:15px;
    margin-bottom: 15px;
}
.col-left i{
    margin-top:15px;
}
.col-right>img{
    width: 700px;
    height: 400px;
    margin-top:15px;
}
.white{
    height: 30px;
}
/* Fine Prima sezione */

/* Inizia Seconda sezione */
.subscription{
    background-color: var(--drbx-white);
    height: 1410px;
    max-width: 1240px;
    width: 100%;
}

.container2{
    width: 80%;
    height: 1250px;
    max-width: 1240px;
    padding-top: 120px;
    margin:auto;
}

.pad-left{
    padding-left:100px;
    padding-bottom:40px;
}
#monthly{
    padding-right: 25px;
    
}
.descript-sub>h2{
    padding-bottom: 25px;
}
.row{
    width: 100%;
    height: 100%;
    gap: 10px;
}

.col-3{
    width: calc(75%/3);
    height: 1110px;
    margin: auto;
    border: 1px solid lightgrey;
    
}
.utente{
    text-align: center;
    border-bottom: 1px solid black;
}
.pad-card{
    padding-left: 18px;
    padding-bottom: 35px;
}
.card>h3,.price{
    padding: 18px 0;
}

.pad-bot{
    padding-bottom: 15px;
}
.info-card>span{
    padding: 18px;
}
.card-button>button{
    background-color: var(--drbx-accent);
    color: white;
    padding:10px 20px;
    border: none;
    
}
.block {
    height: 2rem;
    width: 2rem;
    border-top: 1px solid var(--drbx-bkgr-and-square6);
    margin-left:30px;
}
.info-card>h4,i{
    padding-bottom: 20px;
}
.col-pad{
    padding-left:65px;
}
.title-bot{
    padding-bottom:30px;
}
#bnt-pad{
padding:10px 64px;
border: none;
}

.col-1{
    width: 70%;
    border: 1px solid var(--drbx-bkgr-and-square6);
    height: 265px;
    margin-left:215px;
    
}
.team{
    border-bottom:1px solid var(--drbx-bkgr-and-square6);
    text-align: center;
    vertical-align: 5px;
    height: 40px;
    
}
.team>span{
    vertical-align: -10px;
}
.col-1-card{
    padding-left:15px;
    padding-top:30px;
    position: relative;
}
#ent-pad{
    padding-bottom:20px;
}
#p-bot{
    padding-bottom:40px;
}
#btn-absolute{
    position:absolute;
    top:28px;
    right:15px;
    background-color: var(--drbx-accent);
    border: none;
    color: white;
    padding:10px 30px;

}
/* fine seconda sezione */

/* inizio terza sezione */
.container-3{
    width: 100%;
    height: 440px;
}
.row-section3{
width: 70%;
height: 440px;
margin-top: 120px;
margin-left:215px;
margin-right:150px;

}
.col-60{
    width:60%;
    height: 100%;
}
.col-40{
    width: 40%;
    height: 100%;
    padding:40px;
}
.col-60>img{
    width: 100%;
}

.pad-30{
    padding-bottom:30px;
}
#bnt-partner{
    padding:10px;
    background-color: white;
    border:1px solid black;
}
/* Fine terza sezione */

/* Inizio quarta sezione */
.container-4{
    width: 100%;
    height: 500px;
}
.row-section4{
    width: 70%;
    height: 440px;
    margin-left:215px;
    margin-right:150px;
    gap:25px;
    margin-bottom:30px;
}
#title-operation{
    width: 70%;
    margin-top: 120px;
    margin-left:215px;
    margin-right:150px;
    height: 50px;
}
.col-4 {
    width: calc(90% / 3);
    
    
}
.operation>img{
    width: 100%;
}
.operation>h3{
    padding-bottom:20px;
}
/* Fine quarta sezione */